/***************
GLOBAL STYLES
***************/

.content {
    padding-top: 0;
    position: relative;
    z-index: 1;
}

.container {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/***************
HOMEPAGE STYLING
***************/

#home {
    .posts,
    .pageTitle,
    .pagination {
        max-width: 65ch;
        margin: 0 auto var(--space-m);
    }
}

/***************
MENU STYLING
***************/

.js {
    .nav-collapse {
        position: relative;
        max-height: none;

        &.closed {
            max-height: none;
        }

        ul li a {
            display: inline-block;
        }
    }
}

.nav-toggle {
    display: none;
}

/***************
POST STYLING
***************/

.post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl,
    .pageTitle {
        max-width: 50rem;
        margin: 0 auto 2rem;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin: var(--space-s) auto;
    }

    .featuredImage {
        position: relative;
        margin-top: 2rem;
    }
}

/***************
POST NAV STYLING
***************/

.postNav {
    display: flex;

    .prev,
    .next {
        flex: 1;
    }

    .prev {
        text-align: left;
    }

    .next {
        text-align: right;
    }
}

/***************
CONTACT PAGE STYLING
***************/

.contactContainer {
    display: flex;
    gap: var(--space-l);

    > * {
        flex: 1;
    }
}
