/***************
BUTTON DEFAULTS
***************/

.button {
    background-color: var(--primary-color);
    display: inline-block;
    position: relative;
    font-family: var(--sans-serif);
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    font-size: var(--step-0);
    line-height: 1;
    padding: var(--space-2xs) var(--space-m);
    border: 0;
    border-radius: 4px;
    transition: background-color 0.14s ease-in-out;

    // hovering and focusing on the button
    &:hover,
    &:focus {
        background-color: var(--primary-color-shade);
        outline-color: var(--text-color);
    }
}
