/***************
BUTTON DEFAULTS
***************/

.button {
    background-color: var(--primary-color);
    display: inline-block;
    position: relative;
    font-family: var(--sans-serif);
    font-weight: 800;
    text-decoration: none;
    color: var(--white);
    font-size: var(--step-0);
    line-height: 1;
    padding: var(--space-2xs) var(--space-m);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: var(--space-2xs);
    transition: background-color 0.14s ease-in-out;

    // hovering on the btn
    &:hover,
    &:focus {
        text-decoration: underline;
    }

    // clicking on the button
    &:active {
        top: 1px; // adds a tiny hop to the click
    }
}

// Toggle Button
.toggle__btn {
    border-radius: 10em;
    display: flex;
    border: none;
    color: currentColor;
    white-space: nowrap;
    align-items: center;
    height: 3rem;
    width: 3rem;
    padding: var(--space-2xs);
    gap: var(--space-3xs);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: var(--step--2);

    svg {
        flex: auto;
        height: 100%;
        width: 100%;

        path {
            fill: var(--white);
        }
    }
}
