/***************
FORM STYLING
***************/

label {
    display: block;
    margin-bottom: 5px;
}
input,
textarea {
    background: var(--subtle-color);
    color: currentColor;
    padding: 5px;
    outline: none;
    border: none;
    height: auto;
    padding: var(--space-2xs);
    width: 300px;
    margin-bottom: var(--space-xs);

    &:focus {
        border: 1px solid var(--primary-color);
    }

    &.full-width {
        width: 100%;
    }
}

input[type="submit"] {
    width: auto;
    display: flex;
    margin-left: auto;
}

textarea {
    height: 8em;
}

form {
    margin-bottom: var(--space-xl);
}
