/***************
POST LIST STYLING
***************/

.posts {
    article {
        margin-bottom: var(--space-xl);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: -2rem;
            left: 0;
            background: var(--subtle-color);
            height: 0.2em;
            width: 4rem;
        }

        h2 {
            margin-top: 0;
            margin-bottom: var(--space-xs);
        }

        a {
            text-decoration: none;
            font-weight: 800;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        .date {
            color: var(--text-accent-color);
            font-family: var(--sans-serif);
            font-weight: 300;
            font-size: var(--step--1);
        }

        h3 {
            margin: 0 0 var(--space-2xs);
        }
    }
}
