---
import Layout from "../layouts/Layout.astro";

const seo = {
    title: "About Long Haul",
    description: "A minimal Astro theme for long-form writing.",
};
---

<Layout seo={seo}>
    <div>
        <div class="container container--lg">
            <h1 class="page-title">About Long Haul</h1>
        </div>
        <div class="content-grid flow">
            <img src="../images/touring.webp" alt="" />
            <p class="intro">
                Long Haul is a minimal, long form <a
                    href="http://astro.build"
                    target="_blank">Astro</a
                > Theme. Fork the theme, customize it, and push it to your static
                host of choice. It's that easy.
            </p>
            <p>
                Long Haul was created in honor of all the hard working touring
                bicycles that have traversed the globe time and time again. Take
                it for a spin.
            </p>
            <h2>Features</h2>
            <ul>
                <li>Built with Astro, duh</li>
                <li>
                    Automatic <a href="/sitemap-index.xml">Sitemap</a> with <a
                        href="https://docs.astro.build/en/guides/integrations-guide/sitemap/"
                        target="_blank">@astrojs/sitemap</a
                    >
                </li>
                <li>A modern CSS reset</li>
                <li>
                    Generated Robots.txt via <a
                        href="https://github.com/alextim/astro-lib/tree/main/packages/astro-robots-txt#readme"
                        target="_blank">astro-robots-txt</a
                    >
                </li>
                <li><a href="/rss.xml">XML Feed</a> for RSS Readers</li>
                <li>Featured Post Images</li>
                <li>Color Mode Toggle</li>
                <li>
                    Icons Provided by <a
                        href="https://www.astroicon.dev/"
                        target="_blank">Astro Icon</a
                    >
                </li>
                <li>
                    Fluid Type and Space Scale from <a
                        href="https://utopia.fyi"
                        target="_blank">UTOPIA</a
                    >
                </li>
                <li>
                    Compression via <a
                        href="https://github.com/astro-community/astro-compress"
                        target="_blank">Astro Compress</a
                    >
                </li>
                <li>Skip To Main Content Link</li>
                <li>Accessible Focus Styling</li>
                <li>Accessible Mobile Menu</li>
                <li>⚡ Perfect Lighthouse Score</li>
            </ul>
        </div>
    </div>
</Layout>
