---
import Layout from "../layouts/Layout.astro";

const title = "About Long Haul";
---

<Layout title="Long Haul Astro Theme">
    <div class="post">
        <h1 class="pageTitle">About Long Haul</h1>
        <img src="images/touring.jpg" alt="" />
        <p class="intro">
            Long Haul is a minimal, long form <a href="http://astro.build"
                >Astro</a
            > Theme. It can be used as is or customized to your hearts desire.
        </p>
        <p>
            Long Haul was created in honor of all the hard working touring
            bicycles that have traversed the globe time and time again. Take it
            for a spin.
        </p>
        <h2>Features</h2>
        <ul>
            <li>Built with Astro, duh</li>
            <li>
                Interactive Elements from <a href="https://headlessui.com/"
                    >Headless UI</a
                >
            </li>
            <li>Automatic Sitemap</li>
            <li>
                <a href="https://github.com/snaptortoise/jekyll-rss-feeds"
                    >XML Feed for RSS Readers</a
                >
            </li>
            <li>Previous / Next Post Navigation</li>
            <li>
                <a href="https://utopia.fyi"
                    >Fluid Type and Space Scale from UTOPIA</a
                >
            </li>
        </ul>
    </div>
</Layout>
