---
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";
---

<Layout>
    <div class="container">
        <h2 class="page-title h1">Recent Posts</h2>
        <div class="post-list no-list">
            <PostList />
        </div>
    </div>
</Layout>
