---
import { settings, menu } from "../data/settings";
import ColorModeToggle from "./ColorModeToggle.astro";
const title = "Long Haul Astro";
---

<header class="header">
    <ColorModeToggle />
    <div class="container">
        {
            Astro.url.pathname == "/" && (
                <h1 class="header__title">
                    <a href="/">{title ?? settings.title}</a>
                </h1>
            )
        }
        {
            Astro.url.pathname != "/" && (
                <p class="header__title">
                    <a href="/">{title ?? settings.title}</a>
                </p>
            )
        }
        <nav class="nav-collapse">
            <ul class="noList">
                {
                    menu.map((item, index) => (
                        <>
                            <li class="element">
                                <a href={item.link}>{item.name}</a>
                            </li>
                        </>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<style lang="scss">
    @use "../styles/base/_config.scss" as *;

    .header {
        background-color: var(--background-color);
        background-image: url("../images/touring.webp");
        background-size: cover;
        background-position: center center;
        color: white;
        padding-block: var(--space-m);
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - var(--space-s)),
            0 100%
        );

        @media (min-width: 800px) {
            height: 15em;
            position: relative;
            padding-bottom: var(--space-l);
            margin-bottom: var(--space-l);
            clip-path: polygon(
                0 0,
                100% 0,
                100% calc(100% - var(--space-2xl)),
                0 100%
            );
        }

        .container {
            @media (min-width: 800px) {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                max-width: 800px;
                overflow: hidden;
            }
        }

        &__title {
            margin: 0;
            font-size: var(--step-0);
            padding-bottom: 0;
            font-family: var(--sans-serif);
            font-weight: 900;
            text-transform: uppercase;

            @media (min-width: 800px) {
                font-size: var(--step-5);
                padding-bottom: var(--space-xs);
                line-height: 1;
                letter-spacing: -1.5px;
                padding-left: 0;
                margin: 0;
            }

            a {
                color: white;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        nav {
            ul {
                margin: 0;
                display: flex;
                gap: var(--space-2xs);

                @media (min-width: 800px) {
                    gap: var(--space-xs);
                }

                li {
                    a {
                        color: white;
                        font-size: var(--step--2);
                        text-decoration: none;

                        @media (min-width: 800px) {
                            font-size: var(--step--1);
                        }

                        &:hover,
                        &:focus {
                            text-decoration: underline;
                        }
                    }

                    &.current {
                        padding-bottom: 0 var(--space-3xs);
                        border-bottom: 4px solid rgba(255, 255, 255, 0.4);
                    }
                }
            }
        }
    }
</style>
