---
import { Icon } from "astro-icon";

interface Props {
    icon: string;
}

const { icon } = Astro.props;
---

<button id="mobile-menu-trigger" class="toggle__btn">
    <span class="sr-only">Open Mobile Navigation Menu</span>
    <Icon name={icon} class="color-white" />
</button>

<style lang="scss">
    .toggle__btn {
        border-radius: 10em;
        display: flex;
        border: none;
        color: currentColor;
        white-space: nowrap;
        align-items: center;
        height: 3rem;
        width: 3rem;
        padding: var(--space-2xs);
        gap: var(--space-3xs);
        background-color: rgba(0, 0, 0, 0.3);
        font-size: var(--step--2);

        &:focus {
            outline-color: var(--white);
        }

        @media (min-width: 800px) {
            display: none;
        }

        svg {
            flex: auto;
            height: 100%;
            width: 100%;

            path {
                fill: var(--white);
            }
        }
    }
</style>
