---
import { Icon } from "astro-icon";
import type { Props as MobileMenuProps } from "../menu/Mobile.astro";

export interface Props {
    open?: MobileMenuProps;
}

const { open } = Astro.props;
---

<button
    aria-label="Toggle Menu"
    class="toggle-menu toggle__btn"
    x-on:click="{ open = !open }"
    x-bind:aria-expanded="open"
>
    <Icon name="ic:baseline-menu" class="open color-white" />
</button>
