---
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/Header.astro";
import SiteFooter from "../components/Footer.astro";
import SkipToLink from "../components/SkipToLink.astro";
import MobileMenu from "../components/MenuMobile.astro";
import type { Props as BaseHeadProps } from "../components/BaseHead.astro";
import "../styles/style.scss";

export interface Props {
    seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<script>
    import Swup from "swup";
    const swup = new Swup();
</script>

<html lang="en" color-mode="light">
    <BaseHead {...seo} />
    <body>
        <SkipToLink />
        <MobileMenu triggerId="mobile-menu-trigger" />
        <SiteHeader />
        <main class="content transition-fade" id="main">
            <slot />
        </main><!-- end .content -->
        <SiteFooter />
    </body>
</html>

<style>
    .transition-fade {
        transition: 0.4s;
        opacity: 1;
    }

    html.is-animating .transition-fade {
        opacity: 0;
    }
</style>
