---
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/Header.astro";
import SiteFooter from "../components/Footer.astro";
import SkipToLink from "../components/SkipToLink.astro";
import MobileMenu from "../components/menu/Mobile.astro";
import type { Props as BaseHeadProps } from "../components/BaseHead.astro";
import "../styles/style.scss";

export interface Props {
    seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" color-mode="light">
    <BaseHead {...seo} />
    <body>
        <SkipToLink />
        <MobileMenu />
        <SiteHeader />
        <main class="content" id="main">
            <slot />
        </main><!-- end .content -->
        <SiteFooter />
    </body>
</html>
