---
import "../styles/style.scss";
import SiteHeader from "../components/Header.astro";
import SiteFooter from "../components/Footer.astro";
import { formatDate } from "../utils/helpers";

const { frontmatter } = Astro.props;
---

<html lang="en" class="js">
    <body>
        <SiteHeader />
        <main class="content">
            <div class="container">
                <article class="post">
                    {
                        frontmatter.image && (
                            <div class="featuredImage">
                                <img src={`/${frontmatter.image}`} alt="" />
                            </div>
                        )
                    }
                    <header>
                        <h1 class="postTitle">{frontmatter.title}</h1>
                        <p class="meta">
                            <time>{formatDate(frontmatter.date)}</time> | <span
                                id="readingTime"></span> minute read
                        </p>
                    </header>

                    <div class="article-content">
                        <slot />
                    </div>

                    <!-- POST NAVIGATION -->
                    <footer class="postNav clearfix">
                        Add Post Navigation
                    </footer>
                </article>
            </div>
        </main><!-- end .content -->
        <SiteFooter />
        <script>
            function readingTime() {
                const text =
                    document.querySelector(".article-content").innerText;
                const wpm = 225;
                const words = text.trim().split(/\s+/).length;
                const time = Math.ceil(words / wpm);
                document.getElementById("readingTime").innerText = time;
            }
            readingTime();
        </script>
    </body>
</html>
