---
import "../styles/style.scss";
import { formatDate } from "../utils/helpers";
import Layout from "./Layout.astro";
import PostNavigation from "../components/PostNavigation.astro";

const { frontmatter } = Astro.props;
---

<Layout>
    <article class="post">
        <header>
            <h1 class="pageTitle">{frontmatter.title}</h1>
            <p class="meta">
                <time>{formatDate(frontmatter.date)}</time> | <span
                    id="readingTime"></span> minute read
            </p>
        </header>

        {
            frontmatter.image && (
                <div class="featuredImage">
                    <img src={`/${frontmatter.image}`} alt="" />
                </div>
            )
        }

        <div class="article-content">
            <slot />
        </div>

        <!-- POST NAVIGATION -->
        <PostNavigation />
    </article>
</Layout>

<script>
    function readingTime() {
        const text = document.querySelector(".article-content").innerText;
        const wpm = 225;
        const words = text.trim().split(/\s+/).length;
        const time = Math.ceil(words / wpm);
        document.getElementById("readingTime").innerText = time;
    }
    readingTime();
</script>
