/***************
CONTACT PAGE STYLING
***************/

@media (min-width: 800px) {
    .contactContainer {
        display: flex;
        gap: var(--space-l);

        > * {
            flex: 1;
        }
    }
}
