/***************
POST STYLING
***************/

.post {
    header,
    img {
        margin-bottom: var(--space-xl);
    }

    figure {
        margin: var(--space-xl) 0;

        figcaption {
            text-align: center;
            font-size: var(--step--1);
            font-style: italic;
            color: var(--text-accent-color);
        }

        img {
            margin: 0 auto;
            display: block;
        }
    }

    .dropcap {
        color: var(--primary-color);
        margin-right: var(--space-2xs);
        float: left;
        font-size: 5em;
        margin: 0 var(--space-xs) 0 0;
        line-height: 0.85;
    }

    .featuredImage {
        // position: relative;
        // margin-top: var(--space-2xs);
        // clip-path: polygon(0 var(--space-s), 100% 0, 100% 100%, 0 100%);

        img {
            width: 100%;
            margin-bottom: 0;
        }
    }

    .meta {
        text-align: center;
        color: lighten(black, 50%);
        font-family: var(--sans-serif);
        font-weight: 300;
    }
}

.article-content {
    p:first-child {
        font-size: var(--step-1);
        line-height: 1.7;
    }
}

@media (min-width: 800px) {
    .post {
        *:not(blockquote) {
            max-width: 50rem;
            margin: 0 auto var(--space-m);
        }

        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            margin: 1em auto var(--space-m);
        }

        // .featuredImage {
        //     position: relative;
        //     margin-top: 2rem;
        //     clip-path: polygon(0 var(--space-l), 100% 0, 100% 100%, 0 100%);
        // }
    }
}

.post {
    .pageTitle {
        @media (min-width: 800px) {
            margin: 0;
        }
    }
}
