/***************
COLOR VARIABLES
***************/

:root {
    --white: #fff;
    --silver: #ddd;
    --grey: rgb(228, 228, 228);
    --black: #000;
    --bad-color: #ff4136;
    --primary-color: #2d8653;
    --primary-color-shade: #21633e;
    --link-color: var(--primary-color);
    --link-hover: #246b43;

    &[color-mode="light"] {
        --surface1: var(--white);
        --text-color: var(--black);
        --text-accent-color: #393939;
        --bad-color: #ff4136;
        --subtle-color: rgb(228, 228, 228);
        --link-accent-color: #21633e;
    }

    &[color-mode="dark"] {
        --surface1: var(--black);
        --text-color: var(--white);
        --text-accent-color: #bbbbbb;
        --bad-color: #ff4136;
        --subtle-color: rgb(41, 41, 41);
        --link-accent-color: #39ac6b;
    }
}

/***************
TYPE SETTINGS
Use system fonts via https://systemfontstack.com/
***************/

:root {
    --sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
        Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol;
    --line-height-body: 1.6;
    --line-height-heading: 1.2;
}

// Fluid Type
/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1200,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --step--2: clamp(0.88rem, calc(0.89rem + -0.02vw), 0.89rem);
    --step--1: clamp(1rem, calc(0.96rem + 0.18vw), 1.1rem);
    --step-0: clamp(1.13rem, calc(1.03rem + 0.45vw), 1.38rem);
    --step-1: clamp(1.27rem, calc(1.1rem + 0.82vw), 1.72rem);
    --step-2: clamp(1.42rem, calc(1.16rem + 1.32vw), 2.15rem);
    --step-3: clamp(1.6rem, calc(1.21rem + 1.97vw), 2.69rem);
    --step-4: clamp(1.8rem, calc(1.24rem + 2.83vw), 3.36rem);
    --step-5: clamp(2.03rem, calc(1.24rem + 3.94vw), 4.2rem);
}

// Fluid Spacing
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1200,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --space-3xs: clamp(0.31rem, calc(0.29rem + 0.11vw), 0.38rem);
    --space-2xs: clamp(0.56rem, calc(0.52rem + 0.23vw), 0.69rem);
    --space-xs: clamp(0.88rem, calc(0.81rem + 0.34vw), 1.06rem);
    --space-s: clamp(1.13rem, calc(1.03rem + 0.45vw), 1.38rem);
    --space-m: clamp(1.69rem, calc(1.55rem + 0.68vw), 2.06rem);
    --space-l: clamp(2.25rem, calc(2.07rem + 0.91vw), 2.75rem);
    --space-xl: clamp(3.38rem, calc(3.1rem + 1.36vw), 4.13rem);
    --space-2xl: clamp(4.5rem, calc(4.14rem + 1.82vw), 5.5rem);
    --space-3xl: clamp(6.75rem, calc(6.2rem + 2.73vw), 8.25rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.18rem + 0.68vw), 0.69rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.38rem + 0.91vw), 1.06rem);
    --space-xs-s: clamp(0.88rem, calc(0.69rem + 0.91vw), 1.38rem);
    --space-s-m: clamp(1.13rem, calc(0.78rem + 1.7vw), 2.06rem);
    --space-m-l: clamp(1.69rem, calc(1.3rem + 1.93vw), 2.75rem);
    --space-l-xl: clamp(2.25rem, calc(1.57rem + 3.41vw), 4.13rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.6rem + 3.86vw), 5.5rem);
    --space-2xl-3xl: clamp(4.5rem, calc(3.14rem + 6.82vw), 8.25rem);

    /* Custom pairs */
    --space-s-l: clamp(1.13rem, calc(0.53rem + 2.95vw), 2.75rem);
}
