/***************
GLOBAL STYLES
***************/

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline-color: currentColor;
    outline-offset: 2px;
    outline-width: 2px;
    outline-style: dashed;
}

body {
    font-family: var(--serif);
    font-size: var(--step-0);
    line-height: 1.6;
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0;
    background-color: var(--surface1);

    &.modal-is-active {
        overflow: hidden;
    }

    // p,
    // ul,
    // ol,
    // dl {
    //     margin: 0 0 var(--space-l);
    // }
}

// Screen Reader Text
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

// Text Selection Styling
::-moz-selection {
    background: var(--primary-color);
    color: white;
}

::selection {
    background: var(--primary-color);
    color: white;
}

// Media Styling
img,
video,
audio,
iframe,
object {
    max-width: 100%;
    height: auto;
}

hr {
    width: 100%;
    border-color: var(--subtle-color);
}

// Layout
.container {
    max-width: min(calc(100% - var(--space-l)), 45rem);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 800px) {
        padding: 0;
    }

    &--lg {
        max-width: min(calc(100% - var(--space-l)), 70rem);
    }
}

/***************
PRE STYLING
***************/

pre {
    padding: var(--space-l);
    --flow-gap: 2.5em;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
        monospace;
}

/***************
PAGE STYLES
***************/

.page-title {
    margin: var(--space-s) auto var(--space-xl);
    text-align: center;
    font-weight: 900;
}

/***************
LINK STYLING
***************/

a {
    color: var(--link-color);

    &:hover,
    &:focus {
        text-decoration-style: wavy;
        color: var(--link-accent-color);
    }
}

/***************
MISC UTILITY STYLES
***************/

.color-white {
    color: var(--white);
}

.no-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.flex {
    @media (min-width: 800px) {
        display: flex;
        gap: var(--space-l);

        > * {
            flex: 1;
        }
    }
}
