/***************
UTILITY STYLES
***************/

// Text Color
.color-white {
    color: var(--white);
}

// Width
.width-full {
    width: 100%;
}

// Remove List Styling
.no-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

// Screen Reader Text
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

// Content Flow
.flow {
    > * + * {
        margin-top: var(--flow-gap, 1.25em);
    }

    figure {
        --flow-gap: 2.5em;

        figcaption {
            text-align: center;
            font-size: var(--step--1);
            font-style: italic;
            color: var(--text-accent-color);
        }

        img {
            margin: 0 auto var((--space-2xs));
            display: block;
        }
    }

    img,
    video,
    iframe {
        --flow-gap: 2.5em;
        margin-bottom: 2em;
    }
}

// Dropcap
.dropcap {
    color: var(--primary-color);
    margin-right: var(--space-2xs);
    float: left;
    font-size: 5em;
    margin: 0 var(--space-xs) 0 0;
    line-height: 0.85;
}
